body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction:row;
}

.sidebar {
  min-height: 100vh;
  min-width: 12em;  
  width: 25%;
  border-right: solid black 1px;
  background: #9cbec9;
  margin-right: 10px;
  border-left:solid #25769c 4px;
  /* margin-top: 80px; */
  /* position: absolute  ; */
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff2e6;
  width: 225px;
}

#restaurant-image {
  height: 200px;
  width: 95%;
  position: relative;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
}

.text {
  padding: 15px;
  cursor: default;
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #9cbec9;
  border-radius: 6px;
  outline: none;
}

.button:hover {background-color: #9CBEE6}

.logo {
  width: 36px;
  height: 54px;
  border-radius: 50px;
}

#restaurant {
  display:inline;
  vertical-align: top;
  padding: 15px;
}

.new-Restaurant-form {
  border-radius: 5px;
  background: #fff2e6;
  padding: 20px;
}


input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 80%;
  left: 39%;
}

.newSubmit:hover {background-color: #3e8e41}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=url], select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.aboutUsBtn {
  border-radius: 4px;
  background-color: #25769c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.aboutUsBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
/* \00bb */
.aboutUsBtn span:after {
  content: '\25BF';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.aboutUsBtn:hover span {
  padding-right: 25px;
}

.aboutUsBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.icon{
  width: 50px;
  height: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.iconBox {
  text-align: center;
  padding-right: 90px;
  border-radius: 5px;
}

#problemBtn {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 6px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  margin-left: 38% ;
}

#problemBtn:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

#problemBtn:active {
  outline: 0;
}

#problemBtn:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  #problemBtn {
    height: 48px;
  }
}
#filterByCountry{
  margin-left: 4px;
}
#filterByCountry:hover{
    border-left:solid #25769c 4px;
}
#filterByRegion{
  margin-left: 4px;
}
#filterByRegion:hover{
  border-left:solid #25769c 4px;
}

#sort{
  margin-left: 4px;
}

#banner {
  background-color: red;
  height: 70px;
  border-radius: 10px;
  display:block;
  width: 100%;
}

#title{
  text-align: center;

}